<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span style="font-size: 35px">Amazing Portfolio App, Welcomes You !</span>
    </button>
  </nav>
</div>
<div>
  <div style="float: left; width: 60%">
    <img src="E:/Background.jpg" height="664x" width="100%" alt="" />
  </div>

  <div id="form" style="float: right; width: 40%">
    <div style="text-align: center; font-size: 25px; font-style: italic">
      Fill Required Details we will make Portfolio For you
    </div>

    <form>
      <div class="form-group pt-5">
        <label for="exampleInputEmail1"
          ><i class="fa-solid fa-file-signature"></i> First Name</label
        >
        <input
          type="text"
          formControlName="uemail"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="First Name"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">
          <i class="fa-solid fa-file-signature"></i> Last Name</label
        >
        <input
          type="text"
          formControlName="upassword"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Last Name"
        />
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">
          <i class="fa-solid fa-envelope"></i> Email</label
        >
        <input
          type="text"
          formControlName="uemail"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Email"
        />
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">
          <i class="fa-solid fa-phone"></i> Phone Number</label
        >
        <input
          type="text"
          formControlName="uemail"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Phone Number"
        />
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">
          <i class="fa-solid fa-school"></i> College</label
        >
        <input
          type="text"
          formControlName="uemail"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="College"
        />
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">
          <i class="fa-solid fa-building"></i> Current Organization</label
        >
        <input
          type="text"
          formControlName="uemail"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Current Organization"
        />
      </div>
      <br />
      <div class="text-center">
        <button (click)="sSubmit()" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
